.contents
  =render 'shared/side_bar'
  .right-content
    .header-content
      .left-header
        .group__name
          = @group.name
        .group__member
          Member :
          - @group.users.each do |user|
            = user.name
      .right-header
        .right-header__button
          = link_to 'Edit', edit_group_path(@group), class: 'header__button'
    .chat
      .test
        .space
        = render @messages
    .bottom-content
      .left-bottom
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'textbox', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'icon3' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          .right-bottom
            = f.submit 'Send', class: 'form__submit'

